/* header related styles */
.banner {
    background-color: rgba(229, 84, 115, 0.10);
    
}

.banner {
    display: flex;
}

.banner-poster {
    
}
.banner-content{
    justify-content: center;
    
}
/* our featured flower section */
.showcase-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
/* Icon related section */
.icon-display{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    padding: 30px;
}
/* Hot deal section */
.hot-deal{
    display: flex;
}
.left-column{
    justify-content: center;
}
section > div{
    display: flex;
}